@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'scriptinaregular';
    src: url('font/SCRIPTIN-webfont.eot');
    src: url('SCRIPTIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('SCRIPTIN-webfont.woff2') format('woff2'),
         url('SCRIPTIN-webfont.woff') format('woff'),
         url('SCRIPTIN-webfont.ttf') format('truetype'),
         url('SCRIPTIN-webfont.svg#scriptinaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exobold';
    src: url('font/Exo-Bold-webfont.eot');
    src: url('font/Exo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Exo-Bold-webfont.woff2') format('woff2'),
         url('font/Exo-Bold-webfont.woff') format('woff'),
         url('font/Exo-Bold-webfont.ttf') format('truetype'),
         url('font/Exo-Bold-webfont.svg#exobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exoregular';
    src: url('font/Exo-Regular-webfont.eot');
    src: url('font/Exo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Exo-Regular-webfont.woff2') format('woff2'),
         url('font/Exo-Regular-webfont.woff') format('woff'),
         url('font/Exo-Regular-webfont.ttf') format('truetype'),
         url('font/Exo-Regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
img{
  max-width:100%;
   
  height:auto;
}
a:focus{outline:none; border:0px;  }
a{color:#000;text-decoration:none !important;}
.top-header{
 height:25px;
 background:#1e1e1e;
 
}
.logo-block{
   padding:15px 0;
   background:#3d3d3d;
   height:auto;
   overflow:hidden;
   border-bottom:1px solid #f9f8f8;
}
 .logo-block span{
  font-size:16px;
  line-height:26px;
  color:#fff;
}
.wrapper{
 height:auto;

 position:relative;
 margin-bottom:0;
}


.video-block{
height:auto;
overflow:hidden;
position:relative;
border:1px solid #dddada;


background:#f9f8f8;
border:1px solid #fff;

 /*margin-right:5px;*/
}
.video-block:nth-last-child(2){
 margin-right:0px;
}
.title{
  background-color:#f9f8f8;
  padding:20px 5px;
   font-size:12px;
	color:#626262;
	min-height:60px;
	width: 100%;
	text-align: center;
	
  
}
.title h4{
line-height:24px;
}
.video-block span{
 padding:5px 5px;
 display:block;

 font-size-adjust:33%;
 
}

#lines { 
    border-bottom: 17px double black; 
    border-top: 6px solid black; 
    content:"";
    height: 5px; 
    width:30px;
}
#menu{
margin-top:8px;
}
#menu span{
height:2px !important;
background:#fff;
margin-bottom:4px !important;
width:25px !important;
display:block !important;

}
.banner-block{
margin-top:3px;
height:auto;
overflow:hidden;
}
.banner-block img{
max-width:100%;
height:auto;
width:100%;
}
.title-bnr{
 height: auto;
    overflow: hidden;
    padding: 5px;
}
.title-bold{
 font-weight:normal;
 font-family: 'exobold';
 color:#5d5d5d;
 font-size: 13px;
}
.title-reg{
 font-weight:normal;
    
	  color:#5d5d5d;
	  font-size:12px;
}
.title-reg span{
margin-left:10px;
}
.video-block img{width:100%;
 
}
.video-outer{
margin-right:2%;
height:auto;
overflow:hidden;
position:relative;
float:left;
  width: 32%;
   box-shadow: 0 1px 1px #cecece;
}
.video-outer:nth-last-child(1){
margin-right:0;
}

.title-b{
float:left;
font-size:16px;
margin:15px 0;
 font-family: 'exoregular';
 font-weight: bold;

}
.title-main{
 margin-top:0px;
 height:auto;
 overflow:hidden;
}
.title-red{
  margin-top:14px;margin-top: 14px;
font-size: 13px;
}
.logo{
  text-align:center;
}
.logo a{
  font-size:20px;
  color:#fff !important;
  text-decoration:none;
   font-family: 'exoregular';
  
}
#mobile-menu{
  display:none;
  height:auto;
  overflow:hidden;
  position:absolute;
  padding:20px 0;
  top:-21px;
  left:0;
  width:80%;
  z-index:99999;
}
#menu{
  width:30px;
}
#menu a{
  display:block;
}
#menu  .close{
   color:#fff;
   font-size:18px;
   background:#fff;
   height:21px;
   width:30px;
}
#mobile-menu ul {
  padding:0;
  margin:0;
  
}
#mobile-menu ul li {
   list-style-type:none;
   font-size:14px;
   background-color:#3e3e3e;
  
  
   
}
#mobile-menu ul li  a{
color:#fff;
border-top:1px solid #4a4a4a;
display:block;
 padding:20px 28px;
 
}
#mobile-menu ul li  a:hover,#mobile-menu ul li  a:active, #mobile-menu ul li  a:focus{
  background-color:#2d2d2d;
  display:block;
  
}
.search-block input{
 float:left;
 display:block;
 
  background: none ;
   border:none;
   border-bottom:1px solid #fff;
    color: #f1f1f1;
    display: block;
    float: left;
    padding: 4px 2px;
	width:89%;
	font-size:14px;
}
.back span{
font-size:14px;
}
.search-b{
   padding:15px 0;
   background:#3d3d3d;
   height:auto;
   overflow:hidden;
   border-bottom:1px solid #f9f8f8;
   display:none;
}
.search-block span{
font-size:14px;
}
.search-b .search-block a{
   color: #fff;
    display: inline;
    float: left;
    margin-right: 19px;
    margin-top: 5px;
    padding: 0 0 0 15px;
}
#menu1{
display:block;
}
#menu1 a{
display:block;
color:#fff;
} 

.back a{
  margin-top:5px;
}
#menu span{

}
.song-title{
 
  padding:0px 0px;
  display: block;
  width:100%;
}
#search-song .title-main{
   margin-top:0;
       border-bottom: 1px solid #afafaf;
}
.song-detail-blok{
  border-bottom: 1px solid #afafaf;
    display: block;
    height: auto;
    overflow: hidden;
    padding-top: 5px;
	margin-bottom:15px;
}
.music-thumb img{
 margin-right:7px;
 margin-bottom:6px;
  border: 1px solid #f1f1f1;
}
.subm{
   margin-top:10px;
   margin-right:-3px;
 }
.subm .btn{

   padding:0!important;
   border:0!important;
   background:none !important;
   box-shadow:none !important;
   
}
.subm .dropdown-menu{
left:-127px!important;

}

.song-detail-blok p{
 font-size:12px;
 margin-left:-5px;
}
.song-detail-blok h4{
 font-size:13px;
 font-weight:bold;
 margin-bottom:4px;
 margin-left:-5px;
}
.show-more{
  background:#bdbcbd;
  padding:14px 12px;
  cursor:pointer;
    border-top: 1px solid #afafaf;
	font-size: 13px;
    font-weight: bold;
	display:none;
  
}
.song-detail-blok:nth-first-child(1){
  border-top:0px;
  background:#000;
  
}
.song-detl{
  margin-top:8px;
}
#search-allbum{
margin-top:-12px;
}
#search-allbum  h4  ,.song-detl{
  margin-top:16px;
  color:#000;
}
.song-detl a{
  color:#000;
 }
 .download-block{
  font-size:12px;
  text-align:center;
  height:auto;
  overflow:hidden;
  background:#f7f5f7;
  border-bottom:1px solid #d9d8d9;
 }
 
 .download-icon{
  display:block;
  background:#000;
  color:#fff;
  height:icon;
  padding:8px 0px;
  font-size:27px;
  font-weight:normal;
 
 }
 .download-icon span{
   margin-top:4px;
 }
 .download-icon a{
    color:#fff !important;
 }
 .more{
   margin-top:12px;
 }
 .more a{
    padding: 8px 0;
	display:block;
	color:#000;
 }
 .download-block p{
   margin-top:12px;
 }
 .song-detail{
  height:auto;
  overflow:hidden;
  position:relative;
   border-bottom:1px solid #d9d8d9;
 }
 .song-detail h5{
  font-weight:bold;
 }
 .song-detail p{
  font-size:12px;
 }
 .song-detail span{
   margin-top:22px;
   font-size:16px;
 }
 .search-m-detail-banner img{
   width:100%;
 }
 
 
 
 @media(min-width:768px){
    
 #search-allbum  h4  ,.song-detl{
  margin-top:30px;
  color:#000;
}
 }
  @media(min-width:480px){
    
 #search-allbum  h4  ,.song-detl{
  margin-top:50px;
  color:#000;
}
 }

/*.................my addition */



.flexslider{margin: 0 0 5px!important;}


.tbolcl{cursor: pointer;}	

#catmobile-menu {
display: none;
height: auto;
overflow: hidden;
position: absolute;
margin: 23px 0;
top: 4px;
right: 0px;
z-index: 99999;
cursor: pointer;
}

#catmobile-menu ul {
padding: 0;
margin: 0;
}

#catmobile-menu ul li {
list-style-type: none;
font-size: 12px;
background-color: #f1f1f1;
}


#catmobile-menu ul li a {
color: #3c3c3c;
border-top: 1px solid silver;
display: block;
padding: 7px 18px;
font-size: 16px;
}


.crouscat img {width:100%;}
.crouscat .flex-control-nav {display:none}

.carousel li {
margin-right: 18px!important;
}



.flexslider .slides #setMargin{
margin-right: 10px !important;

}


.flex-control-paging li a {
    background: none repeat scroll 0 0 rgba(192, 192,192, 0.5) !important;
    border-radius: 27px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 16px !important;
    text-indent: -9999px;
    width: 16px !important;
	}
	
	.flex-control-paging li a.flex-active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9) !important;
    cursor: default;
}

.flex-prev{
/*display: none !important;*/
}
.flex-next{
/*display: none !important;*/
}

.flex-control-nav {
    bottom: 102px;
    position: absolute;
    text-align: center;
    width: 100%;
}


.flexslider .slides > li{
position:relative !important;
   
}

.artwork_play {
    background-position: -443px -835px;
    display: block;
    height: 42px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 43px;
}
.artwork_play_larg{
    background-position: -443px -835px;
    display: block;
    height: 42px;
    left: 50%;
    position: absolute;
    top: 33%;
    transform: translate(-50%, -50%);
    width: 43px;
}
.song-title{
  
}
.duration{
    background: #fff none repeat scroll 0 0;
    bottom: -3px;
    color: #000 !important;
    padding: 0 4px;
    position: absolute;
    right: 1px;
    z-index: 99;
}
.music-thumb{
  margin-right:7px;
  position: relative;
}
.artwork_play img{
  border:0 !important;
}

#ff4 .title{
  display:none;
}
#ff1 .title{
 display:none;
}

#ff2 label, #ff3 label{
   display:none;
}
#ff3, #ff2, #ff4, #ff1 {
    margin-right: 10px !important;
}
.player-block img{
  width:100%;

}


@media (max-width: 767px) {
.flex-control-nav{
   bottom: 74px !important;
}

}
@media (min-width: 320px) {

.search-block input{
width:76%;

}
.crouscat img {height:77px!important;}
.flex-direction-nav{display:none}
}
@media (min-width: 360px) {
.crouscat img {height:97px!important;}

}

@media (min-width: 480px) {

.crouscat img {height:127px!important;}
}

@media (min-width: 639px) {
 .crouscat img {height:150px!important;}
 .music-thumb .mainimg img {height:118px!important;}
}

@media (min-width: 768px) {
.flex-control-nav{
   bottom:6px !important;
   
}
#mainslider img{width:100%;max-height:590px}
.crouscat img {height:187px!important;}

}

@media (min-width: 1025px) {
.flex-direction-nav{display:block}

}
 
.music-thumb .mainimg img {width:100%!important;}
